<a href="https://colab.research.google.com/github/Clayton100/Phyton/blob/main/Atividade_de_v%C3%A1rias.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#ExerciciosLista
A=int(input("Digite um numero"))
B=int(input("Digite um numero"))
C=A+B
print(C)

Digite um numero8
Digite um numero6
14

In [ ]:
A=int(input("Digite um numero"))
B=int(input("Digite um numero"))
C=A+B
D=A-B
E=A/B
F=A*B
print(C)
print(D)
print(E)
print(F)

Digite um numero6
Digite um numero2
8
4
3.0
12

In [ ]:
Dist=float(input("Digite a distancia percorrida"))
Comb=float(input("Digite o gasto"))
Consumo=Dist/Comb
print(Consumo)

Digite a distancia percorrida25
Digite o gasto5
5.0

In [ ]:
Nvend= input ("Digite o nome do vendedor")
SalF= float (input("Digite o salario fixo"))
Vendasmes= float (input("Digite o valor das suas vendas mensais"))
Comissao= Vendasmes*0.15
SalT= SalF + Comissao
print (Nvend)
print("O seu salario e de R$ %.2f" %SalF)
print ("O salario total e de R$ %.2f" %SalT)

Digite o nome do vendedorCinthia
Digite o salario fixo1200
Digite o valor das suas vendas mensais500
Cinthia
O seu salario e de R$ 1200.00
O salario total e de R$ 1275.00

In [ ]:
Aluno= str(input("Digite o nome do aluno"))
A1= float(input("Digite o valor da primeira prova"))
A2= float(input("Digite o valor da segunda prova"))
A3= float(input("Digite o valor da terceira prova"))
Media=(A1+A2+A3)/3
print (Aluno)
print (Media)

Digite o nome do alunoDeok sun
Digite o valor da primeira prova3
Digite o valor da segunda prova6
Digite o valor da terceira prova9
Deok sun
6.0

In [ ]:
A=float (input("Digite um numero inteiro"))
B=float (input("Digite um numero inteiro"))
C=A
A=B
B=C
print ("O primeiro numero trocado e: %.0f" %A)
print ("O segundo numero trocado e: %.0f" %B)

Digite um numero inteiro4
Digite um numero inteiro6
O primeiro numero trocado e: 6
O segundo numero trocado e: 4

In [ ]:
TempC= float (input("Digite o valor da temperatura em °C"))
TempF= 9*TempC/5+32
print("A temperatura em fahrenheit e;% .0f" %TempF)

Digite o valor da temperatura em °C56
A temperatura em fahrenheit e; 133

In [ ]:
Dol= float (input("Digite a quantidade de dolares que voce possui"))
Cotacao= float (input("Digite a cotacao do dolar atual"))
Vreais= Dol*Cotacao
print("O valor que voce possui em reais e:R$%.2f" %Vreais)

Digite a quantidade de dolares que voce possui300
Digite a cotacao do dolar atual5.40
O valor que voce possui em reais e:R$1620.00

In [ ]:
Dep=float(input ("Digite o valor depositado"))
Juro=0.7/100
Rend=Dep+Dep*Juro
print("O valor apos 1 mes e: R$%.2f" %Rend)

Digite o valor depositado953
O valor apos 1 mes e: R$959.67

In [ ]:
Compra= float(input("Digite o valor da compra"))
Prest=Compra/5
print (Compra)
print (Prest)

Digite o valor da compra650
650.0
130.0

In [ ]:
Custo=float (input ("Digite o preço de custo do produto "))
Aum=float (input ("Digite a porcentagem de aumento "))
Venda= Custo+Custo*Aum/100
print ("O valor da venda será de: R$ %.2f " %Venda)

Digite o preço de custo do produto 1200
Digite a porcentagem de aumento 10
O valor da venda será de: R$ 1320.00

In [ ]:
Cf = float(input ( "Digite o custo de fabrica do seu carro "))
imp= Cf*0.45
Imp2=imp+Cf
Porcdist= Imp2*0.28
CT= Cf+imp+Porcdist
print (" O custo total do seu carro é: %.2f " %CT)

Digite o custo de fabrica do seu carro 32000
 O custo total do seu carro é: 59392.00

In [ ]:
N1=float (input ("Digite um número"))
if N1>10:
  print ("O número é maior do que 10")

Digite um número25
O número é maior do que 10

In [ ]:
N1=int(input ("Digite um número "))
N2=int(input ("Digite um número "))
if N1>N2:
 print ("O primeiro número é o maior")
elif N2>N1:
 print ("O segundo número é o maior")
else:
   print ("Os dois números são iguais")

Digite um número 6
Digite um número 9
O segundo número é o maior

In [ ]:
N1=float (input ("Digite um número "))
if N1>100 and N1<200:
 print ("O número está entre 100 e 200")
else:
 print ("O número não está entre 100 e 200")

Digite um número 201
O número não está entre 100 e 200

In [ ]:
Aluno= str(input("Digite o nome do aluno "))
A1= float(input ("Digite o valor da primeira prova "))
A2= float(input ("Digite o valor da segunda prova "))
A3= float(input ("Digite o valor da terceira prova "))
Media=(A1+A2+A3)/3
print (Aluno)
if Media>7:
    print ("Aprovado")
elif Media<5:
    print ("Reprovado")
else:
    print ("Recuperação")

Digite o nome do aluno Cinthia
Digite o valor da primeira prova 8
Digite o valor da segunda prova 7
Digite o valor da terceira prova 9
Cinthia
Aprovado

In [ ]:
X=1
Y=0
while X<=80:
    N1=float (input ("Digite um número "))
    if N1>9 and N1<151:
        Y=Y+1
    X=X+1
print (" %.0d números estão entre 10(inclusive) e 151(inclusive)" %Y)

Digite um número 3
Digite um número 96
Digite um número 78
Digite um número 14
Digite um número 62
 4 números estão entre 10(inclusive) e 151(inclusive)

In [ ]:
X=1
while X<=75:
    Idade=int(input ("Digite sua idade "))
    if Idade<18:
        print ("Menor de idade")
    else:
        print ("Maior de idade")
    X=X+1

Digite sua idade 20
Maior de idade
Digite sua idade 18
Maior de idade
Digite sua idade 15
Menor de idade
Digite sua idade 13
Menor de idade
Digite sua idade 25
Maior de idade

In [ ]:
X=1
Y=0
Z=0
while X<=56:
    Nome= str(input ("Digite seu nome "))
    Sexo= str(input ("Digite seu sexo (M) ou (F) "))
    print (Nome)
    print (Sexo)
    if Sexo == "M":
        Y=Y+1
    elif Sexo == "F":
        Z=Z+1
    X=X+1
print ("O número de mulheres foi : %.0d " %Z)
print ("O número de homens foi : %.0d " %Y)

Digite seu nome Cinthia
Digite seu sexo (M) ou (F) F
Cinthia
F
Digite seu nome Clayton
Digite seu sexo (M) ou (F) M
Clayton
M
Digite seu nome Pedro
Digite seu sexo (M) ou (F) M
Pedro
M
Digite seu nome Romeu
Digite seu sexo (M) ou (F) M
Romeu
M
Digite seu nome Julia
Digite seu sexo (M) ou (F) F
Julia
F
O número de mulheres foi : 2
O número de homens foi : 3

In [ ]:
DescT=0
VTveiculo=0
NumcarrosT=0
Numcarros=0
while True:
    Vveiculo=float (input ("Digite o valor do veículo "))
    NumcarrosT=NumcarrosT+1
    Ano=int (input ("Digite o ano do veículo "))
    if Ano<=2000:
        Numcarros=Numcarros+1
        Desc=Vveiculo*0.12
        Vveiculo=Vveiculo-Desc
    else:
        Desc=Vveiculo*0.07
        Vveiculo=Vveiculo-Desc
    DescT=DescT+Desc
    VTveiculo=VTveiculo+Vveiculo
    print ("O valor do veículo será: R$%.2f " %Vveiculo)
    print("O valor do desconto será: R$%.2f " %Desc)
    Perguntafinal=str (input ("Deseja continuar calculando possíveis descontos? S/N "))
    if Perguntafinal == "N":
       break
print ("O valor total dos veículos será: R$%.2f " %VTveiculo)
print ("O valor total dos descontos será: R$%.2f " %DescT)
print ("O número total de veículos é: %.0d " %NumcarrosT)
print ("O número de veículos com ano até 2000 é: %.0d " %Numcarros)

Digite o valor do veículo 32000
Digite o ano do veículo 1990
O valor do veículo será: R$28160.00
O valor do desconto será: R$3840.00
Deseja continuar calculando possíveis descontos? S/N S
Digite o valor do veículo 18000
Digite o ano do veículo 1999
O valor do veículo será: R$15840.00
O valor do desconto será: R$2160.00
Deseja continuar calculando possíveis descontos? S/N N
O valor total dos veículos será: R$44000.00
O valor total dos descontos será: R$6000.00
O número total de veículos é: 2
O número de veículos com ano até 2000 é: 2

In [ ]:
QtdT=0
QtdApto=0
while True:
    Nome=str(input (" Digite seu Nome ou a para sair "))
    if Nome=="a":
        break
    QtdT=QtdT+1
    Sexo=str(input ("Digite seu sexo (M) ou (F) "))
    Idade=int(input("Digite sua idade "))
    Saude=str(input ("Digite sua saúde (Boa) ou (Ruim) "))
    if Sexo=="F":
        print ("Não apta")
        break
    elif Idade<18:
        print ("Não apto")
    elif Saude=="Ruim":
        print ("Não apto")
    else:
        print ("Apto")
        QtdApto=QtdApto+1
print ("A quantidade total de pessoas que se alistaram foi de: %.0d " %QtdT)
print ("A quantidade total de pessoas aptas foi de: %.0d " %QtdApto)

 Digite seu Nome ou a para sair Cinthia
Digite seu sexo (M) ou (F) F
Digite sua idade 17
Digite sua saúde (Boa) ou (Ruim) Boa
Não apta
A quantidade total de pessoas que se alistaram foi de: 1
A quantidade total de pessoas aptas foi de: 0

In [ ]:
X=1
PcustoT=0
PvendaT=0
while X<=40:
    Pcusto=float (input("Digite o valor pago no produto: R$ "))
    PcustoT=PcustoT+Pcusto
    Pvenda=float (input("Digite o valor de venda do produto: R$ "))
    PvendaT=PvendaT+Pvenda
    if Pcusto>Pvenda:
        Result=Pcusto-Pvenda
        print ("Prejuízo de R$%.2f no produto %.0d" %(Result, X))
    elif Pvenda>Pcusto:
        Result=Pvenda-Pcusto
        print ("Lucro de R$%.2f no produto %.0d" %(Result, X))
    else:
        print ("Empate entre preço de compra e venda do produto")
    X=X+1
MediaC= PcustoT/40
print ("A média de custo é de: R$%.2f " %MediaC)
MediaV= PvendaT/40
print ("A média de venda é de: R$%.2f " %MediaV)

Digite o valor pago no produto: R$ 5
Digite o valor de venda do produto: R$ 20
Lucro de R$15.00 no produto 1
Digite o valor pago no produto: R$ 20
Digite o valor de venda do produto: R$ 6
Prejuízo de R$14.00 no produto 2
Digite o valor pago no produto: R$ 3
Digite o valor de venda do produto: R$ 5
Lucro de R$2.00 no produto 3
Digite o valor pago no produto: R$ 60
Digite o valor de venda do produto: R$ 1
Prejuízo de R$59.00 no produto 4
A média de custo é de: R$2.20
A média de venda é de: R$0.80

In [ ]:
N1=float (input ("Digite um número "))
if N1>80 or N1<25 or N1==40:
    print (" O número é maior que 80 ou menor que 25 ou igual a 40")

Digite um número 22
 O número é maior que 80 ou menor que 25 ou igual a 40

In [ ]:
while True:
    N=float(input ("Digite um número qualquer ou 666 para sair "))
    if N==666:
        break
    elif N>0:
        print ("O número é positivo")
    elif N<0:
        print ("O número é negativo")
    else:
        print ("O número é neutro")

Digite um número qualquer ou 666 para sair 665
O número é positivo
Digite um número qualquer ou 666 para sair -1
O número é negativo
Digite um número qualquer ou 666 para sair 666

In [ ]:
N1=float (input ("Digite um número "))
N2=float (input ("Digite um número "))
if N1==N2:
    print ("Os números são iguais")
else:
    print ("Os números são diferentes")
    if N1>N2:
        print ("O primeiro número é o maior")
    else:
        print ("O segundo número é o maior")

Digite um número 2
Digite um número 6
Os números são diferentes
O segundo número é o maior

In [ ]:
N=int(input ("Digite um dos números a seguir: 1,2,3,4,5 "))
if N==1:
    print ("Um")
elif N==2:
    print ("Dois")
elif N==3:
    print ("Três")  
elif N==4:
    print ("Quatro")
elif N==5:
    print ("Cinco")
else:
    print ("Número inválido")

Digite um dos números a seguir: 1,2,3,4,5 5
Cinco

In [ ]:
DescT=0
VTveiculo=0
while True:
    Vveiculo=float (input ("Digite o valor do veículo ou 0 para sair "))
    if Vveiculo<=0:
        break
    Comb=str(input ("Digite o tipo de combustivel do veículo "))
    if Comb=="alcool":
        Desc=Vveiculo*0.25
        Vveiculo=Vveiculo-Desc
    elif Comb=="gasolina":
        Desc=Vveiculo*0.21
        Vveiculo=Vveiculo-Desc
    elif Comb=="diesel":
        Desc=Vveiculo*0.14
        Vveiculo=Vveiculo-Desc
    DescT=DescT+Desc
    VTveiculo=VTveiculo+Vveiculo
    print ("O valor do veículo é R$%.2f " %Vveiculo)
    print("O valor dos descontos é R$%.2f " %Desc)
print ("O valor total dos veículos é R$%.2f " %VTveiculo)
print ("O valor total dos descontos é R$%.2f " %DescT)

Digite o valor do veículo ou 0 para sair 9000
Digite o tipo de combustivel do veículo alcool
O valor do veículo é R$6750.00
O valor dos descontos é R$2250.00
Digite o valor do veículo ou 0 para sair 2000
Digite o tipo de combustivel do veículo gasolina
O valor do veículo é R$1580.00
O valor dos descontos é R$420.00
Digite o valor do veículo ou 0 para sair 0
O valor total dos veículos é R$8330.00
O valor total dos descontos é R$2670.00

In [ ]:
 
x=1
ReajT=0
while x<=2:
    Nome=str(input("Digite o nome do funcionário "))
    Sal=float(input ("Digite o salário do funcionário "))
    SalM=float(input ("Digite o salário mínimo "))
    if Sal<=(SalM*3):
        Reaj= Sal*0.5
        SalN=Sal+Reaj
    elif Sal>=(SalM*3) and Sal<=(SalM*10):
        Reaj= Sal*0.2
        SalN=Sal+Reaj
    elif Sal>=(SalM*10) and Sal<=(SalM*20):
        Reaj= Sal*0.15
        SalN=Sal+Reaj
    else:
        Reaj= Sal*0.1
        SalN=Sal+Reaj
    ReajT=ReajT+Reaj
    x=x+1
    print ("O funcionário %s vai receber R$%.2f de reajuste e seu salário passa a ser R$%.2f" %(Nome, Reaj, SalN))
print ("Com esse reajuste, a empresa vai aumentar R$%.2f na sua folha de pagamento " %ReajT)

Digite o nome do funcionário Fabiano
Digite o salário do funcionário 1200
Digite o salário mínimo 1010
O funcionário Fabiano vai receber R$600.00 de reajuste e seu salário passa a ser R$1800.00
Digite o nome do funcionário Amanda
Digite o salário do funcionário 1350
Digite o salário mínimo 1010
O funcionário Amanda vai receber R$675.00 de reajuste e seu salário passa a ser R$2025.00
Com esse reajuste, a empresa vai aumentar R$1275.00 na sua folha de pagamento

In [ ]:
 
while True:
    N1=int(input ("Digite um número inteiro "))
    N2=int(input ("Digite um número inteiro diferente do anterior "))
    if N2==N1:
        print("Número inválido, tente novamente ")
        break
    else:
        N3=int(input("Digite um número inteiro diferente dos anteriores "))
        if N3==N2 or N3==N1:
            print("Número inválido, tente novamente ")
            break
        else:
            if N1>N2 and N1>N3:
                if N3>N2:
                    print("%.0d, %.0d, %.0d " %(N2, N3, N1))
                else:
                    print("%.0d, %.0d, %.0d " %(N3, N2, N1))
            elif N2>N1 and N2>N3:
                if N1>N3:
                    print("%.0d, %.0d, %.0d " %(N3, N1, N2))
                else:
                    print("%.0d, %.0d, %.0d " %(N1, N3, N2))
            else:         
                if N1>N2:
                    print("%.0d, %.0d, %.0d " %(N2, N1, N3))
                else:
                    print("%.0d, %.0d, %.0d " %(N1, N2, N3))

Digite um número inteiro 9
Digite um número inteiro diferente do anterior 5
Digite um número inteiro diferente dos anteriores 4
4, 5, 9
Digite um número inteiro 7
Digite um número inteiro diferente do anterior 4
Digite um número inteiro diferente dos anteriores 1
1, 4, 7

In [5]:
A=float(input ("Digite um número "))
B=float(input ("Digite um número "))
C=str(input ("Digite um Operador aritmético "))
while True:
    if C=="/":
        if B==0:
            print ("Impossível dividir por 0")
            break
        else:
            print (A/B)
    elif C=="*":
        print (A*B)
    elif C=="-":
        print (A-B)
    elif C=="+":
        print (A+B)
    else:
        print ("Operador aritmético não definido")
    break

Digite um número 10
Digite um número 0
Digite um Operador aritmético /
Impossível dividir por 0

In [ ]:
A=int(input("Digite um número inteiro positivo "))
B=int(input("Digite um número inteiro positivo "))
C=int(input("Digite um número inteiro positivo "))
if A<=0 or B<=0 or C<=0:
    print ("Valores incorretos")
    break
SubCB=abs(C-B)
SubAB=abs(A-B)
SubCA=abs(C-A)
SomaCB=abs(C-B)
SomaAB=abs(A-B)
SomaCA=abs(C-A)
if A>SubCB and A<SomaCB:
    if B>SubCA and B<SomaCA:
        if C>SubAB and C<SomaAB:
            print ("Os números podem formar um triângulo")
            if A==B and C==B:
                print ("triângulo equilátero")
            elif A!=B and A!=C and B!=C :
                print ("triângulo escaleno")
            else:
                print ("triângulo isósceles")
        else:
        print ("Os números não podem formar um triângulo")
    else:
        print ("Os números não podem formar um triângulo")
else:
    print ("Os números não podem formar um triângulo")

IndentationError: ignored

In [ ]:
Nivel=int(input("Digite o nível do professor: 1, 2 ou 3"))
QtdH=float(input ("Digite a quantidade de horas que o professor deu aula no mês "))
if Nivel==1:
    Sal=QtdH*12
    print (" O salário do professor é: R$%.2f " % Sal)
elif Nivel==2:
    Sal=QtdH*17
    print (" O salário do professor é: R$%.2f " % Sal)
elif Nivel==3:
    Sal=QtdH*25
    print (" O salário do professor é: R$%.2f " % Sal)
else:
    print ("Nível incorreto")
    break

Digite o nível do professor: 1, 2 ou 32
Digite a quantidade de horas que o professor deu aula no mês 48

SyntaxError: ignored

In [ ]:
Idade=int(input ("Digite a idade do nadador "))
if Idade>4 and Idade<8:
    print ("Infantil A")
elif Idade>7 and Idade<11:
    print ("Infantil B")
elif Idade>10 and Idade<14:
    print ("juvenil A")
elif Idade>13 and Idade<18:
    print ("juvenil B")
elif Idade>17 and Idade<26:
    print ("Senior")
else:
    print ("Idade fora da faixa etária")

Digite a idade do nadador 19
Senior

In [ ]:
ConsM=float(input ("Digite o consumo mensal (kWh) "))
Tipo=str(input ("Digite o tipo de cliente (Residência (R), Comércio (C) Indústria (I) "))
if Tipo==R:
    Valor=ConsM*0.6
    print ("O valor da conta foi de: R$%.2f " %Valor)
elif Tipo==C:
    Valor=ConsM*0.48
    print ("O valor da conta foi de: R$%.2f " %Valor)
elif Tipo==I:
    Valor=ConsM*1.29
    print ("O valor da conta foi de: R$%.2f " %Valor)
else:
    print ("Tipo inválido, digite R, C ou I")
    break

Digite o consumo mensal (kWh) 0.50
Digite o tipo de cliente (Residência (R), Comércio (C) Indústria (I) 0.65

SyntaxError: ignored

In [ ]:
TrabL=float (input ("Digite a nota do trabalho de laboratório "))
AvSem=float (input ("Digite a nota da avaliação semestral "))
ExFinal=float (input ("Digite a nota do exame final "))
NotaTotal=(TrabL+AvSem*3+ExFinal*5)/9
print ("A nota final é: %.1f " %NotaTotal)

Digite a nota do trabalho de laboratório 10
Digite a nota da avaliação semestral 8
Digite a nota do exame final 9
A nota final é: 8.8