<a href="https://colab.research.google.com/github/Clayton100/Phyton/blob/main/C%C3%B3pia_de_Copy_of_Copy_of_PHYTON_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Função print             
  print (               "Olá mundo!"               )              
Print (               "Clayton"               )

In [ ]:
imprimir (    750    +    750    *    3    /    20    )

862.5

In [ ]:
A =     3     
B =     5    
C =    2    * A *   3   * B  
impressão (C)

90

In [ ]:
X =    4   
Y =    6   
Z =    7   
C = X + Y + Z     
impressão (C)

17

In [ ]:
 
 print ( 1  +  5 )

6

In [ ]:
# Operação de subtração   
10-5

5

In [ ]:
# operação de multiplicação utilização-se o  asterisco 
10 * 7

70

In [ ]:
# Operação de divisão utiliza-se uma barra 
1 / 4

0.25

In [ ]:
# operação de divisão que exiba somente os números  inteiros usar duas barras 
10 // 4

2

In [ ]:
# operação de divisão que exibição somente o resto  da divisão usa-se% 
10 % 4

2

In [ ]:
# operação para potenciação utilizar dois     asteriscos **  
10   ** (   2   )

100

In [ ]:
# expressão  
10  +  20  *  30

610

In [ ]:
# expressão  
4  ** (  2  ) + 30

In [ ]:
 
#expressao 10% 3 * 10 ** (2) + 1-10 * 4/2

81.0

In [ ]:
A =            1           
B =            2           
C = A> B           
D = não A> B           
E = não B> A           
C e E ou D

True

In [ ]:
Slrio =  1300  
não Slrio <  1100

True

In [ ]:
# Expressão             
(           9             ** (             4             ) +             2           ) *         6-1

39377

In [ ]:
 
F =                      7                  
G =                      7                   
H =                      9                     
I = F>   7   e G>   7   e H>   7     
impressão (   "Aprovado"   )

Aprovado

In [ ]:
 
X =        int        (input (       "Digite um número inteiro"       ))       
 Y =        int        (input (       "Digite um número inteiro"       ))       
Soma = X + Y       
imprimir (Soma)

Digite um número inteiro5
Digite um número inteiro2
7

In [ ]:
 
X =             float             (input (            "Digite um valor em metros"            ))           
 Valoremmilimetros = X *             1000            
imprimir (Valoremmilimetros)

Digite um valor em metros10
10000.0

In [ ]:
 
qtdd =            int            (input (           "Digite a quantidade de dias"           ))          
 qtdh =            int            (input (           "Digite a quantidade de horas"           ))           
qtdm =            int            (input (           "Digite a quantidade de minutos"           ))           
qtds =            int            (input (           "Digite a quantidade de segundos"           ))          
Totais = qtds + qtdm *           60           + qtdh *           3600           + qtdd *           24          *          3600      
 impressão (Totais)

Digite a quantidade de dias60
Digite a quantidade de horas6
Digite a quantidade de minutos30
Digite a quantidade de segundos12
5207412

In [ ]:
 
 
Sal =   float   (input (  "Digite o valor do salário"  )) 
 AumP =   float   (input (  "Digite a porcentagem do aumento"  ))  
Vaum = Sal * (AumP /  100  )  
NSal = Sal + Vaum  
print (  "O valor do aumento de R $%. 2f "   % Vaum)   
imprimir (   " O novo salário será de R $%. 2f "  % NSal)

Digite o valor do salário1700
Digite a porcentagem do aumento10
O valor do aumento foi R$170.00
O novo salário será de R$1870.00

In [ ]:
 
Preçomerc =       float       (input (      "Digite o preço da mercadoria"      ))      
PorcDesc =       float       (input (      "Digite a porcentagem de desconto"      ))      
Vdesc = Preçomerc * (PorcDesc /       100      )      
Preçototal = Preçomerc - Vdesc      
print (      "O valor do desconto foi de R $% .2f "     % Vdesc)      
print (       " O Preço da Mercadoria com desconto é de R $%          .2f "     % Preçototal)

Digite o preço da mercadoria1555.3
Digite a porcentagem de desconto17
O valor do desconto foi de R $ 264.40
 O Preço da Mercadoria com desconto é de R $ 1290.90

In [ ]:
 
Distancia =       float       (input (      "Digite o valor da distância a ser percorrida na       viagem (em km)"      ))      
Velmedia =       float       (input (      "Digite o valor da velocidade média esperada para       a viagem (em Km / h)"      ))      
Tempoviagem = Distancia / impressão Velmedia      
(      "O tempo da viagem será de% .2f horas"       % Tempoviagem)

Digite o valor da distância a ser percorrida na    viagem (em km)1234
Digite o valor da velocidade média esperada para    a viagem (em Km/h)97
O tempo da viagem será de 12.72 horas

In [ ]:
Distancia =                     float                     (input (                    "Digite o valor da distância percorrida pelo carro                     alugado (em km)"                    ))                    
Qtddias =    float    (input (    "Digite a quantidade de dias que o carro foi aluga  do"   ))                    
Valor = Qtddias *       60       + distancia * (                    15                    /                    100               )      
print (       "O Custo e R $% .2f"        % Valor)

Digite o valor da distância percorrida pelo carro                   alugado (em km)10
Digite a quantidade de dias que o carro foi alugado 5
O Custo e R $ 301.50

In [ ]:
Qtdcigarro =             float             (input (            "Digite a quantidade de cigarros fumados por dia"            ))            
Qtdanos =             float             (input (            "Digite o total de anos que você fumou"            ))         
Qtdtotal = Qtdcigarro *         365         * Qtdanos         
MinP = Qtdtotal *         10         
DiasP = MinP /         1440         
print (         "A quantidade de dias da sua vida que você perdeu  por causa dessa vício foi:% .0f dias"          % DiasP)

Digite a quantidade de cigarros fumados por dia 6
Digite o total de anos que você fumou 30
A quantidade de dias da sua vida que você perdeu por causa dessa vício foi: 456 dias

In [ ]:
 
TempC = float (input (    "Digite o valor da temperatura em ° C"    ))    
TempF =     9     * TempC /     5     +     32    
print (    "A temperatura em fahrenheit é;% .0f"    % TempF)

Digite o valor da temperatura em ° C41
A temperatura em fahrenheit é; 106

In [ ]:
Nvend =  input ( "Digite o nome do vendedor" ) 
SalF = float (  input ( "Digite o salário fixo" )) 
Vendasmes = float (  input ( "Digite o valor das suas vendas mensais" )) 
Comissao = Vendasmes * 0,15 
SalT = SalF + Comissao 
print (Nvend) 
print ( "O seu salário é de R $%. 2f"  % SalF) 
print ( "O seu salário total é de R $%. 2f"  % SalT)

Digite o nome do vendedor Sérgio
Digite o salário fixo 1600
Digite o valor das suas vendas mensais 1000
Sérgio
O seu salário fixo é de R$1600.00
O seu salário total é de R$1750.00

In [ ]:
A = float ( input ( "Digite um número inteiro " )) 
B =  float  (input ( "Digite um número inteiro " ))
C=A
A=B
B=C
print ("O primeiro número trocado é: %.0f " %A)
print ("O segundo número trocado é:%.0f "%B)

Digite um número inteiro 100
Digite um número inteiro 90
O primeiro número trocado é: 90
O segundo número trocado é:100

In [ ]:
 Dol= float ( input("Digite a quantidade de dólares que você possui "))
Cotacao= float ( input("Digite a cotação do dólar atual "))
Vreais = Dol*Cotacao
print ("O valor que você possui em reais é: R$%.2f" %Vreais)

Digite a quantidade de dólares que você possui 300
Digite a cotação do dólar atual 6
O valor que você possui em reais é: R$1800.00

In [ ]:
Cf = float(input ( "Digite o custo de fabrica do seu carro "))
imp= Cf*0.45
Imp2=imp+Cf
Porcdist= Imp2*0.28
CT= Cf+imp+Porcdist
print (" O custo total do seu carro é: %.2f " %CT)

Digite o custo de fabrica do seu carro 10000
 O custo total do seu carro é: 18560.00

In [ ]:
vel = float (input ( "Digite a velocidade do seu carro (em Km / h)" )) 
if vel > 80: 
    m = (vel-80 ) * 5 
    print ("Você foi multado em: R$ %.2f"  %m)

Digite a velocidade do seu carro (em Km / h)100
Você foi multado em: R$ 100.00

In [ ]:
A= float( input ("Digite um número "))
B= float( input ("Digite um número "))
C= float( input ("Digite um número "))
if A>B and A>C:
    print ("O maior número é o %.2f " %A)
    if B>C:
        print ("O menor número é o %.2f " %C)
    else:
        print ("O menor número é o %.2f " %B)
        if B==C:
            print ("Os dois últimos números são iguais")
if B>A and B>C:
    print ("O maior número é o %.2f " %B)
    if A>C:
        print ("O menor número é o %.2f " %C)
    else:
        print ("O menor número é o %.2f " %A)
        if A==C:
            print ("O primeiro e o último número são iguais")
if C>A and C>B:
    print ("O maior número é o %.2f " %C)
    if A>B:
        print ("O menor número é o %.2f " %B)
    else:
        print ("O menor número é o %.2f " %A)
        if B==A:
            print ("Os dois primeiros números são iguais")
if A==B and B==C:
    print ("Os três números são iguais")

Digite um número 60
Digite um número 80
Digite um número 6
O maior número é o 80.00
O menor número é o 6.00

In [ ]:
 
Sal=float (input ("Informe seu salário: R$ "))
if Sal>1250:
    SalF = Sal*0.1+Sal
    print ("Seu salário final(salário+aumento) é: R$ %.2f " %SalF)
else:
    SalF = Sal*0.15+Sal
    print ("Seu salário final(salário+aumento) é: R$ %.2f " %SalF)

Informe seu salário: R$ 1000
Seu salário final(salário+aumento) é: R$ 1150.00

In [ ]:
 
Dist= float(input ("Digite a distância que você deseja percorrer (em Km) "))
if Dist<=200:
    Ppass= Dist*0.5
    print ("O preço da passagem é: R$ %.2f " %Ppass)
else:
    Ppass= Dist*0.45
    print ("O preço da passagem é: R$ %.2f " %Ppass)

Digite a distância que você deseja percorrer (em Km) 10
O preço da passagem é: R$ 5.00

In [ ]:
 
A= float(input("Digite um número "))
B= float(input("Digite um número "))
C= str(input( "Digite a operação desejada, deve ser digitado exatamente igual as operações descritas a seguir (soma, subtração, multiplicação, divisão) "))
if C=="soma":
    D=A+B
    print("O resultado é: %.2f " %D)
elif C=="subtração":
    D=A-B
    print("O resultado é: %.2f " %D)
elif C=="divisão":
    D=A/B
    print("O resultado é: %.2f " %D)
elif C=="multiplicação":
    D=A*B
    print("O resultado é: %.2f " %D)
else:
    print("O nome da operação digitada está incorreto, por favor digite novamente")

Digite um número 5.67
Digite um número 4.21
Digite a operação desejada, deve ser digitado exatamente igual as operações descritas a seguir (soma, subtração, multiplicação, divisão) multiplicação
O resultado é: 23.87

In [ ]:
 
Vcasa = float(input("Digite o valor da casa: R$ "))
Qtdanos= int(input("Digite a quantidade de anos para pagar "))
Vsal = float(input("Digite o valor do salário: R$ "))
Vprest = Vcasa/Qtdanos/12
if Vprest<=(Vsal/3):
    print ("O valor da prestação é: R$%.2f " %Vprest)
    print ("O empréstimo foi aprovado ")
else:
    print ("O valor da prestação é: R$%.2f " %Vprest)
    print ("O empréstimo não foi aprovado ")

Digite o valor da casa: R$ 300000
Digite a quantidade de anos para pagar 30
Digite o valor do salário: R$ 2107.5
O valor da prestação é: R$833.33
O empréstimo não foi aprovado

In [ ]:
 
Consumo= float(input("Digite o valor do consumo em (kWh) "))
Tipo= str(input("Digite o tipo de instalação: R para residências, I para indústrias e C para comércios. "))
if Tipo== "R":
    if Consumo>500:
        Peço=Consumo*0.65
    else:
        Peço=Consumo*0.4
    print(" O preço que você irá pagar é: R$%.2f " %Peço)
elif Tipo== "C":
    if Consumo>1000:
        Peço=Consumo*0.6
    else:
        Peço=Consumo*0.55
    print(" O preço que você irá pagar é: R$%.2f " %Peço)
elif Tipo== "I":
    if Consumo>5000:
        Peço=Consumo*0.6
    else:
        Peço=Consumo*0.55
    print(" O preço que você irá pagar é: R$%.2f " %Peço)
 else:
     print ("Digite as letras C (comércio), I (indústria) ou R (residência)")

Digite o valor do consumo em (kWh) 6000
Digite o tipo de instalação: R para residências, I para indústrias e C para comércios. C
 O preço que você irá pagar é: R$3600.00

In [ ]:
X=1
while X<=100:
    print (X)
    X=X+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
 X=50
while X<=100:
    print (X)
    X=X+1

50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
 X=10
while X>=0:
    print ("%2.0f" %X)
    X=X-1
print ("🔥")

10
 9
 8
 7
 6
 5
 4
 3
 2
 1
 0
🔥

In [ ]:
 
fim = int (input ("Digite o último número a aparecer na tela "))
X = 1
while X <= fim:
    print (X)
    X = X + 2

Digite o último número a aparecer na tela 10
1
3
5
7
9

In [ ]:
 
X=3
while X<=30:
    print (X)
    X=X+3

3
6
9
12
15
18
21
24
27
30

In [ ]:
 
n =      int      (input (     "Tabuada de:"     ))      
X =      1     
enquanto   X <=      10     :     
    Res = n * X     
    imprimir (     "% d x% .0f =% .0f"     % (n, X, Res))      
    X = X +      1

Tabuada de:6
 6 x 1 = 6
 6 x 2 = 12
 6 x 3 = 18
 6 x 4 = 24
 6 x 5 = 30
 6 x 6 = 36
 6 x 7 = 42
 6 x 8 = 48
 6 x 9 = 54
 6 x 10 = 60

In [ ]:
 n =      int      (input (     "Tabuada de:"     ))      
Inicio= int (input("Digite o início da tabuada "))
Fim = int (input("Digite o fim da tabuada "))
while Inicio   <=  Fim   :     
    Res = Inicio * n  
    print (     "% d x% .0d =% .0d"     % (n, Inicio, Res))      
    Inicio = Inicio +      1

Tabuada de:5
Digite o início da tabuada 3
Digite o fim da tabuada 8
 5 x 3 = 15
 5 x 4 = 20
 5 x 5 = 25
 5 x 6 = 30
 5 x 7 = 35
 5 x 8 = 40

In [ ]:
 
N1= int(input ("Digite o primeiro número "))
N2= int(input ("Digite o segundo número "))
X=1
N3=0
while X<=N2:
    N3=N3+N1
    X=X+1
print ("O resultado da multiplicação é: %.0d " %N3)

Digite o primeiro número 5
Digite o segundo número 4
O resultado da multiplicação é: 20

In [ ]:
 
N1= int(input ("Digite o primeiro número "))
N2= int(input ("Digite o segundo número "))
Resto=N1%N2
if N2==0:
    print ("Impossível dividir por 0")
elif Resto==0:
    X=0
    N3=0
    while N3<N1:
        N3=N3+N2
        X=X+1
    print ("O resultado da divisão é: %d " %X)
else:
    X=-1
    N3=0
    while N3<N1:
        N3=N3+N2
        X=X+1
    print ("O resultado da divisão é: %d " %X)
print("O resto da divisão é: %d " %Resto)

Digite o primeiro número 50
Digite o segundo número 6
O resultado da divisão é: 8
O resto da divisão é: 2

In [ ]:
 
pontos = 0 
questao = 1 
while questao<= 3: 
    resposta= input("Resposta da questão: ") 
    if questao== 1 and (resposta== "b" or resposta== "B"): 
        pontos= pontos + 1 
    if questao== 2 and (resposta== "a" or resposta== "A"): 
        pontos= pontos + 1 
    if questao== 3 and  (resposta== "d" or resposta== "D"): 
        pontos = pontos+ 1 
    questao= questao + 1 
print("O aluno fez %d ponto(s)" %pontos)

Resposta da questão: B
Resposta da questão: A
Resposta da questão: D
O aluno fez 3 ponto(s)

In [ ]:
 
Dep=float(input ("Digite o depósito inicial: R$ "))
Juros=float(input ("Digite a taxa de juros da poupança:  "))
Taxaj= Juros/100
Mês=1
Valorfinal=Dep
while Mês<=24:
    Valorfinal=Valorfinal*Taxaj+Valorfinal
    print ("O valor total disponível no mês %d é igual a: R$ %.2f " % (Mês, Valorfinal))
    Mês=Mês+1
ValorTaxaj=Valorfinal-Dep
print ("O valor total ganho com juros nesse período foi de: R$ %.2f" %ValorTaxaj)

Digite o depósito inicial: R$ 1000
Digite a taxa de juros da poupança:  10
O valor total disponível no mês 1 é igual a: R$ 1100.00
O valor total disponível no mês 2 é igual a: R$ 1210.00
O valor total disponível no mês 3 é igual a: R$ 1331.00
O valor total disponível no mês 4 é igual a: R$ 1464.10
O valor total disponível no mês 5 é igual a: R$ 1610.51
O valor total disponível no mês 6 é igual a: R$ 1771.56
O valor total disponível no mês 7 é igual a: R$ 1948.72
O valor total disponível no mês 8 é igual a: R$ 2143.59
O valor total disponível no mês 9 é igual a: R$ 2357.95
O valor total disponível no mês 10 é igual a: R$ 2593.74
O valor total disponível no mês 11 é igual a: R$ 2853.12
O valor total disponível no mês 12 é igual a: R$ 3138.43
O valor total disponível no mês 13 é igual a: R$ 3452.27
O valor total disponível no mês 14 é igual a: R$ 3797.50
O valor total disponível no mês 15 é igual a: R$ 4177.25
O valor total disponível no mês 16 é igual a: R$ 4594.97
O valor total disponível no mês 17 é igual a: R$ 5054.47
O valor total disponível no mês 18 é igual a: R$ 5559.92
O valor total disponível no mês 19 é igual a: R$ 6115.91
O valor total disponível no mês 20 é igual a: R$ 6727.50
O valor total disponível no mês 21 é igual a: R$ 7400.25
O valor total disponível no mês 22 é igual a: R$ 8140.27
O valor total disponível no mês 23 é igual a: R$ 8954.30
O valor total disponível no mês 24 é igual a: R$ 9849.73
O valor total ganho com juros nesse período foi de: R$ 8849.73

In [ ]:
 
Dep =  float  (input (  "Digite o depósito inicial: R $"  )) 
 Juros =  float  (input (  "Digite a taxa de juros da poupança:"  ))  
Taxaj = Juros /  100  
Mês =  1  
DepMtotal =  0  
Valorfinal =  
DepM =  0  
enquanto Mês <=  24  : se Mês> =  2  : DepM =  float  (entrada (  "Digite o valor do depósito mensal referente ao   mês% .0f: R $"   % Mês)) Valorfinal = Valorfinal * Taxaj +  Valorfinal + DepM imprimir (  "O valor na sua conta no mês% d é igual a: R $% 
    
 
 
 
 
 
 
 
 
  % ValorTaxaj)

Digite o depósito inicial: R$ 100.00
Digite a taxa de juros da poupança:  1
O valor na sua conta no mês 1 é igual a: R$ 101.00
Digite o valor do depósito mensal referente ao mês 2: R$ 100
O valor na sua conta no mês 2 é igual a: R$ 202.01
Digite o valor do depósito mensal referente ao mês 3: R$ 100
O valor na sua conta no mês 3 é igual a: R$ 304.03
Digite o valor do depósito mensal referente ao mês 4: R$ 100
O valor na sua conta no mês 4 é igual a: R$ 407.07
Digite o valor do depósito mensal referente ao mês 5: R$ 100
O valor na sua conta no mês 5 é igual a: R$ 511.14
Digite o valor do depósito mensal referente ao mês 6: R$ 100
O valor na sua conta no mês 6 é igual a: R$ 616.25
Digite o valor do depósito mensal referente ao mês 7: R$ 100
O valor na sua conta no mês 7 é igual a: R$ 722.42
Digite o valor do depósito mensal referente ao mês 8: R$ 100
O valor na sua conta no mês 8 é igual a: R$ 829.64
Digite o valor do depósito mensal referente ao mês 9: R$ 100
O valor na sua conta no mês 9 é igual a: R$ 937.94
Digite o valor do depósito mensal referente ao mês 10: R$ 100
O valor na sua conta no mês 10 é igual a: R$ 1047.31
Digite o valor do depósito mensal referente ao mês 11: R$ 100
O valor na sua conta no mês 11 é igual a: R$ 1157.79
Digite o valor do depósito mensal referente ao mês 12: R$ 100
O valor na sua conta no mês 12 é igual a: R$ 1269.37
Digite o valor do depósito mensal referente ao mês 13: R$ 100
O valor na sua conta no mês 13 é igual a: R$ 1382.06
Digite o valor do depósito mensal referente ao mês 14: R$ 100
O valor na sua conta no mês 14 é igual a: R$ 1495.88
Digite o valor do depósito mensal referente ao mês 15: R$ 100
O valor na sua conta no mês 15 é igual a: R$ 1610.84
Digite o valor do depósito mensal referente ao mês 16: R$ 100
O valor na sua conta no mês 16 é igual a: R$ 1726.95
Digite o valor do depósito mensal referente ao mês 17: R$ 100
O valor na sua conta no mês 17 é igual a: R$ 1844.22
Digite o valor do depósito mensal referente ao mês 18: R$ 100
O valor na sua conta no mês 18 é igual a: R$ 1962.66
Digite o valor do depósito mensal referente ao mês 19: R$ 100
O valor na sua conta no mês 19 é igual a: R$ 2082.29
Digite o valor do depósito mensal referente ao mês 20: R$ 100
O valor na sua conta no mês 20 é igual a: R$ 2203.11
Digite o valor do depósito mensal referente ao mês 21: R$ 100
O valor na sua conta no mês 21 é igual a: R$ 2325.14
Digite o valor do depósito mensal referente ao mês 22: R$ 100
O valor na sua conta no mês 22 é igual a: R$ 2448.39
Digite o valor do depósito mensal referente ao mês 23: R$ 100
O valor na sua conta no mês 23 é igual a: R$ 2572.87
Digite o valor do depósito mensal referente ao mês 24: R$ 100
O valor na sua conta no mês 24 é igual a: R$ 2698.60
O valor depositado no período foi de: R$ 2400.00
O valor total ganho com juros nesse período foi de: R$ 298.60

In [ ]:
 
ValorIniD= float (input ("Digite o valor da dívida: R$ "))
JuroM= float (input ("Digite a porcentagem dos juros mensais "))
JuroMreal=JuroM/100
Mes=0
ValorTjuros=0
ValorPagoT=0
ValorTotalD=ValorIniD
while 0<ValorTotalD :
    ValorPagoM=float (input ("Digite o valor pago no fim do mês: R$ "))      
    ValorTjuros=ValorTjuros+ValorTotalD*JuroMreal
    ValorTotalD=ValorTotalD*JuroMreal+ValorTotalD
    ValorTotalD=ValorTotalD-ValorPagoM
    ValorPagoT=ValorPagoT+ValorPagoM
    Mes=Mes+1
print ("Sua dívida será paga em: %d meses" % Mes)
print (" O valor pago em juros foi: R$%.2f " %ValorTjuros)
print (" O valor total pago foi: R$%.2f " %ValorPagoT)

Digite o valor da dívida: R$ 1000
Digite a porcentagem dos juros mensais 1
Digite o valor pago no fim do mês: R$ 500
Digite o valor pago no fim do mês: R$ 300
Digite o valor pago no fim do mês: R$ 217.30
Sua dívida será paga em: 3 meses
 O valor pago em juros foi: R$17.25
 O valor total pago foi: R$1017.30

In [ ]:
 
QtdN=0
Soma=0
while True :
    N1 = int(input("Dtgtte um número inteiro ou 0 para sair:")) 
    if N1==0:  
      break    
    N2= int(input("Dtgtte um número inteiro ou 0 para sair:")) 
    if N2==0:
        QtdN=QtdN+1
        Soma=Soma+N1+N2
        Media=Soma/QtdN    
        break   
    if N1==0:
        QtdN=QtdN+1
        Soma=Soma+N1+N2
        Media=Soma/QtdN
    else:
        QtdN=QtdN+2
        Soma=Soma+N1+N2
        Media=Soma/QtdN
print ("A quantidade de números diferentes de 0 digitados é: %.0f " %QtdN)
print ("A soma dos números diferentes de 0 digitados é: %.0f " %Soma)
print ("A média dos números diferentes de 0 digitados é: %.0f " %Media)

Dtgtte um número inteiro ou 0 para sair:4
Dtgtte um número inteiro ou 0 para sair:6
Dtgtte um número inteiro ou 0 para sair:5
Dtgtte um número inteiro ou 0 para sair:5
Dtgtte um número inteiro ou 0 para sair:0
A quantidade de números diferentes de 0 digitados é: 4
A soma dos números diferentes de 0 digitados é: 20
A média dos números diferentes de 0 digitados é: 5

In [ ]:
 
Result=0
while True:
    Cod= int( input ("Digite o código do produto (1,2,3,5 ou 9) ou 0 para mostrar o resultado da compra "))
    if Cod==0:
        print ("O resultado da sua compra é: R$ %.2f " %Result)
        break
    elif Cod==1:
        Pr=0.5
    elif Cod==2:
        Pr=1
    elif Cod==3:
        Pr=4
    elif Cod==5:
        Pr=7
    elif Cod==9:
        Pr=8
    else:
        print ("Código inválido")
    Qtd= int( input ("Digite a quantidade comprada "))
    Result= Pr*Qtd+Result

Digite o código do produto (1,2,3,5 ou 9) ou 0 para mostrar o resultado da compra 3
Digite a quantidade comprada 4
Digite o código do produto (1,2,3,5 ou 9) ou 0 para mostrar o resultado da compra 1
Digite a quantidade comprada 2
Digite o código do produto (1,2,3,5 ou 9) ou 0 para mostrar o resultado da compra 0
O resultado da sua compra é: R$ 17.00

In [ ]:
#5.16/5.17
valor = int(input("Digite o valor a pagar: ")) 
cedulas= 0
atual= 50
apagar= valor
while True: 
    if atual<= apagar: 
        apagar -= atual
        cedulas+= 1
    else: 
        print(" %d cédula(s) de R$ %.2f" %( cedulas, atual))
        if apagar== 0: 
            break
        if atual== 50: 
            atual= 20 
        elif atual == 20: 
            atual= 10 
        elif atual== 10: 
            atual = 5
        elif atual== 5: 
            atual= 1 
        cedulas= 0

Digite o valor a pagar: 501
 10 cédula(s) de R$ 50.00
 0 cédula(s) de R$ 20.00
 0 cédula(s) de R$ 10.00
 0 cédula(s) de R$ 5.00
 1 cédula(s) de R$ 1.00

In [ ]:
 #5.18
valor = int(input("Digite o valor a pagar: ")) 
cedulas= 0
atual= 100
apagar= valor
while True: 
    if atual<= apagar: 
        apagar -= atual
        cedulas+= 1
    else: 
        print(" %d cédula(s) de R$ %.2f" %( cedulas, atual))
        if apagar== 0: 
            break     
        if atual== 100:       
            atual= 50   
        elif atual== 50: 
            atual= 20 
        elif atual == 20: 
            atual= 10 
        elif atual== 10: 
            atual = 5
        elif atual== 5: 
            atual= 1 
        cedulas= 0

Digite o valor a pagar: 597
 5 cédula(s) de R$ 100.00
 1 cédula(s) de R$ 50.00
 2 cédula(s) de R$ 20.00
 0 cédula(s) de R$ 10.00
 1 cédula(s) de R$ 5.00
 2 cédula(s) de R$ 1.00

In [ ]:
tabuada = 1
while tabuada <= 10:
  num=1
  while num<=10
      print("f{tabuada} x {num} = {tabuada * num}")
      num+=1
  tabuada+=1