<a href="https://colab.research.google.com/github/Clayton100/Phyton/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
A=int(input ("Digite um número "))
B=int(input ("Digite um número "))
C=A+B
print (C)

Digite um número 8
Digite um número 6
14

In [ ]:
A=int(input ("Digite um número "))
B=int(input ("Digite um número "))
C=A+B
D=A-B
E=A/B
F=A*B
print (C)
print (D)
print (E)
print (F)

Digite um número 5
Digite um número 2
7
3
2.5
10

In [ ]:
Dist=float(input ("Digite a distância percorrida "))
Comb= float(input ("Digite o combustível gasto "))
Consumo=Dist/Comb
print (Consumo)

Digite a distância percorrida 10
Digite o combustível gasto 5
2.0

In [ ]:
Nvend =  input ( "Digite o nome do vendedor" ) 
SalF = float (  input ( "Digite o salário fixo" ))
Vendasmes = float (  input ( "Digite o valor das suas vendas mensais")) 
Comissao = Vendasmes * 0.15 
SalT = SalF + Comissao 
print (Nvend) 
print ("O seu salário é de R$ %.2f"  %SalF) 
print ("O seu salário total é de R $%.2f"  %SalT)

Digite o nome do vendedorClayton
Digite o salário fixo1700
Digite o valor das suas vendas mensais1000
Clayton
O seu salário é de R$ 1700.00
O seu salário total é de R $1850.00

In [ ]:
Aluno= str(input("Digite o nome do aluno"))
A1= float(input ("Digite o valor da primeira prova"))
A2= float(input ("Digite o valor da segunda prova"))
A3= float(input ("Digite o valor da terceira prova"))
Media=(A1+A2+A3)/3
print (Aluno)
print (Media)

Digite o nome do alunoCinthia
Digite o valor da primeira prova8
Digite o valor da segunda prova9
Digite o valor da terceira prova10
Cinthia
9.0

In [ ]:
A = float ( input ( "Digite um número inteiro " )) 
B =  float  (input ( "Digite um número inteiro " ))
C=A
A=B
B=C
print ("O primeiro número trocado é: %.0f " %A)
print ("O segundo número trocado é:%.0f "%B)

Digite um número inteiro 5
Digite um número inteiro 6
O primeiro número trocado é: 6
O segundo número trocado é:5

In [ ]:
 
TempC = float (input (    "Digite o valor da temperatura em ° C"    ))    
TempF =     9     * TempC / 5 + 32 
print(  "A temperatura em fahrenheit é;% .0f"    % TempF)

Digite o valor da temperatura em ° C20
A temperatura em fahrenheit é; 68

In [ ]:
Dol= float ( input("Digite a quantidade de dólares que você possui "))
Cotacao= float ( input("Digite a cotação do dólar atual "))
Vreais = Dol*Cotacao
print ("O valor que você possui em reais é: R$%.2f" %Vreais)

Digite a quantidade de dólares que você possui 300
Digite a cotação do dólar atual 5
O valor que você possui em reais é: R$1500.00

In [ ]:
Dep=float(input ("Digite o valor depositado"))
Juro=0.7/100
Rend=Dep+Dep*Juro
print ("O valor após 1 mês é: R$%.2f " %Rend)

Digite o valor depositado1000
O valor após 1 mês é: R$1007.00

In [ ]:
Compra= float(input ("Digite o valor da compra"))
Prest=Compra/5
print (Compra)
print (Prest)

Digite o valor da compra500
500.0
100.0